<footer class="center">
    <h3 class="footer-title">
        Have questions?
    </h3>
    <p>
        Email us at <a href="mailto:support@dronline.me">support@dronline.me</a> or check our <a href="https://dronline.me">https://dronline.me</a>
    </p>
    <p class="small indented">
        <b>Sent by DrOnline</b>
        <br/>
        Dubai silicon Oasis, U.A.E, technohub, DSO-THUB-1-152
    </p>
</footer>
