Finish reseting your password

We received a request to reset your password sent from your account.
Ability to change the password will expire in 12 hours.

Password recovery link: <%= link %>

If it was a mistake, just ignore this email.

<%= footer_text() %>
