<!DOCTYPE html>
<html>
<%= head_html(css) %>

<body>
    <%= header_html(sign_in: true) %>

    <div class="content center">
        <div class="banner">
            <img class="banner-image" src="https://storage.googleapis.com/dronline-prod/images/mailer_content/banner_forgot_password.png" />
        </div>
        <h1 class="title">
            Finish changing your password
        </h1>
        <section>
            <p>
                We have received a request to change your password sent from your account.
            </p>

            <p>
                <b>
                    Ability to change the password will expire in 12 hours.
                </b>
            </p>

            <a href="<%= link %>" class="blue-button">
                Change Your Password
            </a>

            <p>
                If it was a mistake, just ignore this email.
            </p>
        </section>
    </div>

    <%= footer_html() %>
</body>
</html>
