Finish changing your password

We have received a request to change your password sent from you account.

Ability to change the password will expire in 12 hours.

If it was a mistake, just ignore this email.

Change Your Password: <%= link %>

<%= footer_text() %>
