<!DOCTYPE html>
<html>
<%= head_html(css) %>

<body>
    <%= header_html(sign_in: true) %>

    <div class="content center">
        <div class="banner">
            <img class="banner-image" src="https://storage.googleapis.com/dronline-prod/images/mailer_content/banner_forgot_password.png" />
        </div>
        <h1 class="title">
            Patient has joined DrOnline on your invitation.
        </h1>
        <section>
            <h3 class="subtitle">
                Patient's Info
            </h3>
            <p>
                <%= patient_data["first_name"] %> <%= patient_data["last_name"] %>
            </p>
            <p>
                Phone Number
                <br/>
                <%= patient_data["phone_number"] %>
            </p>
            <p>
                Email Address
                <br/>
                <%= patient_data["email"] %>
            </p>

            <p class="indented">
                You can always find your Patients on your Patient’s list.
            </p>
        </section>
    </div>

    <%= footer_html() %>
</body>
</html>
